body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #195abb, #00a1ff);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.container h2 {
    text-align: center;
    color: #195abb;
    margin-bottom: 25px;
}

label {
    font-weight: 600;
    color: #333;
    margin-top: 15px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1.5px solid #ccc;
    transition: 0.3s;
}

input:focus {
    border-color: #195abb;
    box-shadow: 0 0 8px rgba(25, 90, 187, 0.3);
    outline: none;
}

button.btn-primary {
    width: 100%;
    margin-top: 25px;
    background: #195abb;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button.btn-primary:hover {
    background: #1470ff;
    transform: scale(1.03);
}

.msg {
    text-align: center;
    color: red;
    font-weight: 500;
    margin-bottom: 15px;
}

.pw-feedback {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
}